# copied from eclipse.platform.debug/.gitignore
/*/bin/ 
*~ 
*.rej 
*.bak 
javacore.* 
heapdump.* 
core.* 
Snap.*

# suggested by github
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
desktop.ini
*.stackdump

#from many .cvsignore files
build.xml
temp.folder
@dot
src.zip
.fbwarnings
javaCompiler...args
/bundles/org.eclipse.wst.jsdt.debug.core/bin/
/bundles/org.eclipse.wst.jsdt.debug.crossfire/bin/
/bundles/org.eclipse.wst.jsdt.debug.rhino.debugger/bin/
/bundles/org.eclipse.wst.jsdt.debug.rhino.ui/bin/
/bundles/org.eclipse.wst.jsdt.debug.rhino/bin/
/bundles/org.eclipse.wst.jsdt.debug.transport/bin/
/bundles/org.eclipse.wst.jsdt.debug.ui/bin/
/development/org.eclipse.wst.jsdt.debug.chrome/bin/
/development/org.eclipse.wst.jsdt.debug.node/bin/
