<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.preferences.NodeJsPreferencePage"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.preferences.NodeJsPreferencePage"
            name="%PreferencePage.Name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.preferences.NodeJsPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.category"
            name="%NodeJsCategory.Name">
      </category>
      <wizard
            category="org.eclipse.wst.jsdt.nodejs.ide.ui.category"
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.projects.MEANProjectWizard"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.wizard.projects.mean"
            name="%NodeJsMEANProjectWizard.Name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.launch.NodeJsLaunchDelegate"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.launchconfigurationtype.nodejs"
            modes="run"
            name="%NodeJsLaunchConfigurationType.Name">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.launch.NodeJsLaunchConfigurationTabGroup"
            description="%NodeJsLaunchConfigurationTabGroup.Description"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.launchconfigurationtabgroup.nodejs"
            type="org.eclipse.wst.jsdt.nodejs.ide.ui.launchconfigurationtype.nodejs">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.launch.NodeJsLaunchShortcut"
            icon="icons/node_16x16.png"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.shortcut.nodejs"
            label="%NodeJsLaunchShortcut.Label"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.js">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%NpmCommandsCategory.Description"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.commands.category.npm"
            name="%NpmCommandsCategory.Name">
      </category>
      <command
            categoryId="org.eclipse.wst.jsdt.nodejs.ide.ui.commands.category.npm"
            description="%NpmInstallCommand.Description"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.commands.npm.install"
            name="%NpmInstallCommand.Name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.handlers.NpmInstallHandler"
            commandId="org.eclipse.wst.jsdt.nodejs.ide.ui.commands.npm.install">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?endof=additions">
         <menu
               icon="icons/npm_16x16.png"
               id="org.eclipse.wst.jsdt.nodejs.ide.ui.menus.npm"
               label="%NpmMenu.Label">
            <command
                  commandId="org.eclipse.wst.jsdt.nodejs.ide.ui.commands.npm.install"
                  id="org.eclipse.wst.jsdt.nodejs.ide.ui.menus.npm.install"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate ifEmpty="false" operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.name"
                              value="package.json">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.views.category.npm"
            name="%NpmViewsCategory.Name">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.wst.jsdt.nodejs.ide.ui.views.category.npm"
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.views.dependencies.NpmDependenciesView"
            icon="icons/npm_16x16.png"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.views.dependencies"
            name="%NpmDependenciesView.Name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.wst.jsdt.nodejs.ide.ui.views.category.npm"
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.views.outdated.NpmOutdatedView"
            icon="icons/npm_16x16.png"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.views.outdated"
            name="%NpmOutdatedView.Name"
            restorable="true">
      </view>
   </extension>

</plugin>
