<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.preferences.NodeJsPreferencePage"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.preferences.NodeJsPreferencePage"
            name="%PreferencePage.Name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.preferences.NodeJsPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.launch.NodeJsLaunchDelegate"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.launchconfigurationtype.nodejs"
            modes="run"
            name="%NodeJsLaunchConfigurationType.Name">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.launch.NodeJsLaunchConfigurationTabGroup"
            description="%NodeJsLaunchConfigurationTabGroup.Description"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.launchconfigurationtabgroup.nodejs"
            type="org.eclipse.wst.jsdt.nodejs.ide.ui.launchconfigurationtype.nodejs">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.wst.jsdt.nodejs.ide.ui.internal.launch.NodeJsLaunchShortcut"
            icon="icons/node_16x16.png"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.shortcut.nodejs"
            label="%NodeJsLaunchShortcut.Label"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.js">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.wst.jsdt.nodejs.ide.ui.launchconfigurationtype.nodejs"
            icon="icons/node_16x16.png"
            id="org.eclipse.wst.jsdt.nodejs.ide.ui.launchconfigurationtype.nodejs.image">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
