<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.wst.jsdt.bower.ide.ui.commands.category"
            name="%Bower-Category-Name">
      </category>
      <command
            categoryId="org.eclipse.wst.jsdt.bower.ide.ui.commands.category"
            id="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerInit"
            name="%Bower-Init-Command-Name">
      </command>
      <command
            categoryId="org.eclipse.wst.jsdt.bower.ide.ui.commands.category"
            id="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerInstall"
            name="%Bower-Install-Command-Name">
      </command>
      <command
            categoryId="org.eclipse.wst.jsdt.bower.ide.ui.commands.category"
            id="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerUpdate"
            name="%Bower-Update-Command-Name">
      </command>
      <command
            categoryId="org.eclipse.wst.jsdt.bower.ide.ui.commands.category"
            id="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerClear"
            name="%Bower-Clear-Command-Name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.wst.jsdt.bower.ide.ui.internal.handlers.BowerInitHandler"
            commandId="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerInit">
      </handler>
      <handler
            class="org.eclipse.wst.jsdt.bower.ide.ui.internal.handlers.BowerInstallHandler"
            commandId="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerInstall">
      </handler>
      <handler
            class="org.eclipse.wst.jsdt.bower.ide.ui.internal.handlers.BowerUpdateHandler"
            commandId="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerUpdate">
      </handler>
      <handler
            class="org.eclipse.wst.jsdt.bower.ide.ui.internal.handlers.BowerClearHandler"
            commandId="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerClear">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?endof=additions">
         <menu
               icon="icons/bower-logo_16x16.png"
               id="org.eclipse.wst.jsdt.bower.ide.ui.menus.bower"
               label="%Bower-Menu-Name">
            <command
                  commandId="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerInit"
                  id="org.eclipse.wst.jsdt.bower.ide.ui.menus.BowerInit"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate ifEmpty="false" operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IContainer">
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerInstall"
                  id="org.eclipse.wst.jsdt.bower.ide.ui.menus.BowerInstall"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate ifEmpty="false" operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.name"
                              value="bower.json">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerUpdate"
                  id="org.eclipse.wst.jsdt.bower.ide.ui.menus.BowerUpdare"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate ifEmpty="false" operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.name"
                              value="bower.json">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.wst.jsdt.bower.ide.ui.commands.BowerClear"
                  id="org.eclipse.wst.jsdt.bower.ide.ui.menus.BowerClear"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate ifEmpty="false" operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.name"
                              value="bower.json">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.wst.jsdt.bower.ide.ui.internal.preferences.BowerPreferencesPage"
            id="org.eclipse.wst.jsdt.bower.ide.ui.internal.preferences.BowerPreferencesPage"
            name="%Bower-Preferences-Page-Name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.jsdt.bower.ide.ui.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wst.jsdt.bower.ide.ui.internal.editors.BowerEditor"
            default="true"
            filenames="bower.json"
            icon="icons/bower-logo_16x16.png"
            id="org.eclipse.wst.jsdt.bower.ide.ui.internal.editors.BowerEditor"
            name="%Bower-Editor-Name">
      </editor>
   </extension>

</plugin>
