<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.wst.jsdt.ui.classpathContainerPage">
  	  <classpathContainerPage
            name="Mozilla FireFox Library"
            class="org.eclipse.wst.jsdt.internal.ui.wizards.buildpaths.FireFoxLibraryWizardPage"
            id="org.eclipse.wst.jsdt.support.firefox">
      </classpathContainerPage>
   </extension>
   <extension
      point="org.eclipse.wst.jsdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.wst.jsdt.core.compiler.libraries.FireFoxLibInitializer"
            id="org.eclipse.wst.jsdt.launching.FireFoxBrowserLibrary">
      </classpathContainerInitializer>
   </extension>
</plugin>
