<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2010, 2011 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.wst.jsdt.debug.core.launchConfigurationType"
            icon="$nl$/icons/elcl16/script.gif"
            id="org.eclipse.wst.jsdt.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.wst.jsdt.debug.internal.ui.launching.JavascriptTabGroup"
            description="%launchConfigurationTabGroup.description"
            helpContextId="javascript_tab_group"
            id="org.eclipse.wst.jsdt.debug.ui.launchConfigurationTabGroup"
            type="org.eclipse.wst.jsdt.debug.core.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditor"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IRunToLineTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.core.IFunction"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.core.IField"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.core.IJavaScriptElement"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptBreakpoint"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.debug.core.model.IJavaScriptDebugTarget"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory2">
         </adapter>
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxy">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.debug.core.model.IScriptGroup"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.sse.ui.StructuredTextEditor"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IRunToLineTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.wst.jsdt.debug.ui.togglebreakpoint"
            targetID="org.eclipse.wst.jsdt.ui.CompilationUnitEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               helpContextId="editor_toggle_breakpoint_action_context"
               icon="$nl$/icons/elcl16/brkp_obj.gif"
               id="org.eclipse.wst.jsdt.debug.ui.RulerToggleBreakpoint"
               label="%togglebreakpointRulerAction.name">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.wst.jsdt.debug.ui.ruler.popup.actions"
            targetID="org.eclipse.wst.jsdt.ui.CompilationUnitEditor.RulerContext">
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               helpContextId="editor_toggle_breakpoint_action_context"
               icon="$nl$/icons/elcl16/brkp_obj.gif"
               id="org.eclipse.wst.jsdt.debug.ui.toggle.breakpoint.ruler.delegate"
               label="%togglebreakpointRulerAction.name"
               menubarPath="debug">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.BreakpointPropertiesEditorActionDelegate"
               helpContextId="breakpoint_properties_editor_ruler_context"
               id="org.eclipse.wst.jsdt.debug.ui.ruler.breakpoint.properties"
               label="%breakpointpropertiesRulerAction.name"
               menubarPath="group.properties"
               tooltip="%breakpointpropertiesRulerAction.tooltip">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.ToggleBreakpointEnablementEditorDelegate"
               helpContextId="toggle_breakpoint_anablement_ruler_context"
               id="org.eclipse.wst.jsdt.debug.ui.toggle.breakpoint.enablement"
               label="%togglebreakpointenablementRulerAction.name"
               menubarPath="debug"
               tooltip="%togglebreakpointenablementRulerAction.tooltip">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.jsdt.debug.ui.general.breakpoint.actions"
            objectClass="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptBreakpoint">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.BreakpointPropertiesAction"
               definitionId="org.eclipse.wst.jsdt.debug.ui.breakpoint.properties"
               enablesFor="1"
               helpContextId="breakpoint_properties_popup_menu_context"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.properties.action"
               label="%breakpointPropertiesAction.name"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.BreakpointHitCountAction"
               enablesFor="1"
               helpContextId="hit_count_action_context"
               icon="$nl$/icons/elcl16/sethitcount_co.gif"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.hitcount.action"
               label="%hitCount.label"
               menubarPath="emptyBreakpointGroup">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.BreakpointSuspendPolicyToggleAction"
               enablesFor="1"
               helpContextId="breakpoint_suspend_policy_toggle_action_context"
               icon="$nl$/icons/elcl16/suspend_co.gif"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.suspend.policy.action"
               label="%suspendPolicy.label"
               menubarPath="emptyBreakpointGroup"
               tooltip="%suspendPolicy.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.jsdt.debug.ui.function.toggle.breakpoint"
            objectClass="org.eclipse.wst.jsdt.core.IFunction">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.ToggleFunctionBreakpointActionDelegate"
               enablesFor="+"
               helpContextId="toggle_function_bp_outline"
               icon="$nl$/icons/elcl16/brkp_obj.gif"
               id="org.eclipse.wst.jsdt.debug.ui.outline.function.toggle.breakpoint.action"
               label="%toggleFunctionBreakpointAction.name"
               menubarPath="additions"
               tooltip="%toggleFunctionBreakpointAction.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.jsdt.debug.ui.function.breakpoint.actions"
            objectClass="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptFunctionBreakpoint">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.ExitToggleAction"
               enablesFor="+"
               helpContextId="exit_toggle_action_context"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.toggle.exit.action"
               label="%exitAction.label"
               menubarPath="emptyBreakpointGroup"
               state="false">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.EntryToggleAction"
               enablesFor="+"
               helpContextId="entry_toggle_action_context"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.toggle.entry.action"
               label="%entryAction.label"
               menubarPath="emptyBreakpointGroup"
               state="false">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.wst.jsdt.debug.ui.debugview.actions"
            objectClass="org.eclipse.wst.jsdt.debug.core.model.IScript">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.OpenSourceAction"
               definitionId="org.eclipse.wst.jsdt.debug.ui.script.opensource"
               enablesFor="1"
               helpContextId="script_open_source_context"
               icon="$nl$/icons/elcl16/source.gif"
               id="org.eclipse.wst.jsdt.debug.ui.script.opensource.action"
               label="%openSourceObjectAction.name"
               menubarPath="launchGroup"
               style="push"
               tooltip="%openSourceObjectAction.tooltip">
         </action>
      </objectContribution>
      <viewerContribution
            id="org.eclipse.wst.jsdt.debug.ui.classfile.editor.actions"
            targetID="#ClassFileEditorContext">
         <visibility>
            <and>
               <objectClass
                     name="org.eclipse.jface.text.ITextSelection">
               </objectClass>
               <systemProperty
                     name="org.eclipse.wst.jsdt.debug.ui.jsdebuggerActive"
                     value="true">
               </systemProperty>
            </and>
         </visibility>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.EvaluateEditorPopupAction"
               definitionId="org.eclipse.wst.jsdt.debug.ui.evaluate.command"
               helpContextId="evaluate_jsunit_snippet_action_context"
               icon="$nl$/icons/elcl16/jsbook_obj.gif"
               id="org.eclipse.wst.jsdt.debug.ui.jsunit.popup.evaluate"
               label="%evaluateAction.label"
               menubarPath="jsdebug"
               tooltip="%evaluateAction.description">
         </action>
      </viewerContribution>
      <viewerContribution
            id="org.eclipse.wst.jsdt.debug.ui.jsunit.editor.actions"
            targetID="#JavaScriptEditorContext">
         <visibility>
            <and>
               <objectClass
                     name="org.eclipse.jface.text.ITextSelection">
               </objectClass>
               <systemProperty
                     name="org.eclipse.wst.jsdt.debug.ui.jsdebuggerActive"
                     value="true">
               </systemProperty>
            </and>
         </visibility>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.EvaluateEditorPopupAction"
               definitionId="org.eclipse.wst.jsdt.debug.ui.evaluate.command"
               helpContextId="evaluate_jsunit_snippet_action_context"
               icon="$nl$/icons/elcl16/jsbook_obj.gif"
               id="org.eclipse.wst.jsdt.debug.ui.jsunit.popup.evaluate"
               label="%evaluateAction.label"
               menubarPath="jsdebug"
               tooltip="%evaluateAction.description">
         </action>
         <menu
               id="org.eclipse.wst.jsdt.debug.ui.jsdebug.cu.menu"
               label="%javascriptMenu.name"
               path="additions">
            <groupMarker
                  name="jsdebug">
            </groupMarker>
            <separator
                  name="jsdebug">
            </separator>
         </menu>
      </viewerContribution>
      <viewerContribution
            id="org.eclipse.wst.jsdt.debug.ui.html.ruler.popup.actions"
            targetID="org.eclipse.wst.html.core.htmlsource.source">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.ToggleBreakpointEnablementEditorDelegate"
               helpContextId="toggle_breakpoint_anablement_ruler_context"
               id="org.eclipse.wst.jsdt.debug.ui.html.toggle.breakpoint.enablement"
               label="%togglebreakpointenablementRulerAction.name"
               menubarPath="debug"
               tooltip="%togglebreakpointenablementRulerAction.tooltip">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               helpContextId="editor_toggle_breakpoint_action_context"
               icon="$nl$/icons/elcl16/brkp_obj.gif"
               id="org.eclipse.wst.jsdt.debug.ui.html.toggle.breakpoint.ruler.delegate"
               label="%togglebreakpointRulerAction.name"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.wst.jsdt.debug.internal.ui.JavaScriptModelPresentation"
            detailsViewerConfiguration="org.eclipse.wst.jsdt.debug.internal.ui.display.JavaScriptDebugViewerConfiguration"
            id="org.eclipse.wst.jsdt.debug.model">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.JavaScriptBreakpointPropertyPage"
            id="org.eclipse.wst.jsdt.debug.ui.breakpoints.propertypage"
            name="%breakpointproperties.page.name">
         <enabledWhen>
            <or>
               <adapt
                     type="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptLineBreakpoint">
               </adapt>
               <instanceof
                     value="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptLineBreakpoint">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.wst.jsdt.debug.ui.breakpoint.properties"
            contextId="org.eclipse.debug.ui.BreakpointView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ENTER">
      </key>
      <key
            commandId="org.eclipse.wst.jsdt.debug.ui.script.opensource"
            contextId="org.eclipse.debug.ui.debugging"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+3">
      </key>
      <key
            commandId="org.eclipse.wst.jsdt.debug.ui.evaluate.command"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.wst.jsdt.debug.ui.category"
            description="%breakpointproperties.command.description"
            id="org.eclipse.wst.jsdt.debug.ui.breakpoint.properties"
            name="%breakpointproperties.command.name">
      </command>
      <command
            categoryId="org.eclipse.wst.jsdt.debug.ui.category"
            defaultHandler="org.eclipse.wst.jsdt.debug.internal.ui.actions.OpenSourceAction"
            description="%openSourceObjectAction.tooltip"
            helpContextId="script_open_source_context"
            id="org.eclipse.wst.jsdt.debug.ui.script.opensource"
            name="%openSourceObjectAction.name">
      </command>
      <category
            description="%commandCategory.description"
            id="org.eclipse.wst.jsdt.debug.ui.category"
            name="%commandCategory.name">
      </category>
      <command
            categoryId="org.eclipse.wst.jsdt.debug.ui.category"
            description="%evaluateAction.description"
            helpContextId="evaluate_command_help_context"
            id="org.eclipse.wst.jsdt.debug.ui.evaluate.command"
            name="%evaluateCommand.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="breakpointsViewActions"
            targetID="org.eclipse.debug.ui.BreakpointView">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.AddScriptLoadBreakpointAction"
               disabledIcon="$nl$/icons/elcl16/scriptbp.gif"
               helpContextId="add_script_load_breakpoint_action"
               hoverIcon="$nl$/icons/elcl16/scriptbp.gif"
               icon="$nl$/icons/elcl16/scriptbp.gif"
               id="org.eclipse.wst.jsdt.debug.ui.add.scriptload.breakpoint"
               label="%addScriptloadBreakpointAction.name"
               style="push"
               toolbarPath="javascriptActions"
               tooltip="%addScriptloadBreakpointAction.name">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.SuspendOnAllScriptLoadsAction"
               helpContextId="suspend_for_all_loads_action_context"
               icon="$nl$/icons/elcl16/script.gif"
               id="org.eclipse.jdt.debug.ui.breakpointViewActions.ShowQualified"
               label="%suspendForAllScriptLoadsAction.name"
               menubarPath="javascriptActions"
               style="toggle"
               tooltip="%suspendForAllScriptLoadsAction.tooltip">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.SuspendOnExceptionsAction"
               helpContextId="suspend_on_javascript_exceptions"
               id="org.eclipse.wst.jsdt.debug.ui.suspend.on.exceptions"
               label="%suspendOnExceptions.name"
               menubarPath="javascriptActions"
               style="toggle"
               tooltip="%suspendOnExceptions.tooltip">
         </action>
      </viewContribution>
      <viewContribution
            id="debugViewActions"
            targetID="org.eclipse.debug.ui.DebugView">
         <menu
               id="org.eclipse.wst.jsdt.debug.ui.javascript.menu"
               label="%javascriptMenu.name">
            <groupMarker
                  name="js">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.ShowLoadedScriptsAction"
               helpContextId="show_all_scripts_debug_view_action"
               icon="$nl$/icons/elcl16/script_grp.gif"
               id="org.eclipse.wst.jsdt.debug.ui.show.all.scripts"
               label="%showAllScripts.name"
               menubarPath="org.eclipse.wst.jsdt.debug.ui.javascript.menu/js"
               style="toggle"
               tooltip="%showAllScripts.tooltip">
         </action>
      </viewContribution>
      <viewContribution
            id="variableViewActions"
            targetID="org.eclipse.debug.ui.VariableView">
         <menu
               id="org.eclipse.wst.jsdt.debug.ui.variableview.menu"
               label="%javascriptMenu.name">
            <groupMarker
                  name="js">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.FunctionFilterAction"
               helpContextId="show_functions_variable_help_context"
               id="org.eclipse.wst.jsdt.debug.ui.variableview.show.functions"
               label="%showFunctionVarAction.label"
               menubarPath="org.eclipse.wst.jsdt.debug.ui.variableview.menu/js"
               style="toggle"
               tooltip="%showFunctionVarAction.tooltip">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.ThisFilterAction"
               helpContextId="show_this_variable_help_context"
               icon="$nl$/icons/elcl16/this_var.gif"
               id="org.eclipse.wst.jsdt.debug.ui.variableview.show.this"
               label="%showThisVarAction.label"
               menubarPath="org.eclipse.wst.jsdt.debug.ui.variableview.menu/js"
               style="toggle"
               tooltip="%showThisVarAction.tooltip">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.ProtoFilterAction"
               helpContextId="show_proto_variables_help_context"
               icon="$nl$/icons/elcl16/proto_var.gif"
               id="org.eclipse.wst.jsdt.debug.ui.variableview.show.prototypes"
               label="%showProtoVarAction.label"
               menubarPath="org.eclipse.wst.jsdt.debug.ui.variableview.menu/js"
               style="toggle"
               tooltip="%showProtoVarAction.tooltip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.detailPaneFactories">
      <detailFactories
            class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.details.BreakpointDetailPaneFactory"
            id="org.eclipse.wst.jsdt.debug.ui.breakpoints.details.factory">
         <enablement>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptLineBreakpoint">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptLoadBreakpoint">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptFunctionBreakpoint">
                     </instanceof>
                  </or></iterate>
               <count
                     value="1">
               </count>
            </with>
         </enablement>
      </detailFactories>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="%breakpointMarkerCategory.name">
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.function.breakpoint.marker">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.line.breakpoint.marker">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.breakpoint.marker">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.exception.breakpoint.marker">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.scriptload.breakpoint.marker">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.jsdt.debug.internal.ui.JavaScriptDebugUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.wst.jsdt.debug.internal.ui.actions.EvaluateEditorPopupAction"
            commandId="org.eclipse.wst.jsdt.debug.ui.evaluate.command"
            helpContextId="evaluate_command_help_context">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.wst.jsdt.debug.internal.ui.eval.JavaScriptHyperlinkDetector"
            description="%hyperlinkDetector.description"
            id="org.eclipse.wst.jsdt.debug.ui.hyperlink.detector"
            modifierKeys="M1+M3"
            name="%hyperlinkDetector.name"
            targetId="org.eclipse.wst.jsdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.wst.jsdt.ui.preferences.JavaBasePreferencePage"
            class="org.eclipse.wst.jsdt.debug.internal.ui.preferences.JavaScriptDebugPreferencePage"
            id="org.eclipse.wst.jsdt.debug.ui.debug.page"
            name="%debugPrefPage.name">
         <keywordReference
               id="org.eclipse.wst.jsdt.debug.ui.debug.pref.page.keyword">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.wst.jsdt.debug.ui.debug.pref.page.keyword"
            label="%debugPrefPageKeyword.label">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.ui.javaEditorTextHovers">
      <hover
            class="org.eclipse.wst.jsdt.debug.internal.ui.eval.JavaScriptDebugHover"
            description="%hover.description"
            id="org.eclipse.wst.jsdt.debug.ui.variable.value.hover"
            label="%hover.label">
      </hover>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.JavaScriptBreakpointUpdater"
            id="org.eclipse.wst.jsdt.debug.ui.breakpoint.updater"
            markerType="org.eclipse.wst.jsdt.debug.core.breakpoint.marker">
      </updater>
   </extension>
   <extension point="org.eclipse.wst.jsdt.web.ui.breakpointAdapter">
      <adapter class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.ToggleBreakpointAdapter"/>
   </extension>
</plugin>
