<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2010 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.wst.jsdt.debug.core.launchConfigurationType"
            icon="$nl$/icons/elcl16/script.gif"
            id="org.eclipse.wst.jsdt.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.wst.jsdt.debug.internal.ui.launching.JavascriptTabGroup"
            description="%launchConfigurationTabGroup.description"
            helpContextId="javascript_tab_group"
            id="org.eclipse.wst.jsdt.debug.ui.launchConfigurationTabGroup"
            type="org.eclipse.wst.jsdt.debug.core.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditor"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.core.IFunction"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.core.IField"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.core.IJavaScriptElement"
            class="">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptBreakpoint"
            class="org.eclipse.wst.jsdt.debug.internal.ui.adapters.JavaScriptAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.wst.jsdt.debug.ui.togglebreakpoint"
            targetID="org.eclipse.wst.jsdt.ui.CompilationUnitEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               helpContextId="editor_toggle_breakpoint_action_context"
               icon="$nl$/icons/elcl16/brkp_obj.gif"
               id="org.eclipse.wst.jsdt.debug.ui.RulerToggleBreakpoint"
               label="%togglebreakpointRulerAction.name">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.wst.jsdt.debug.ui.ruler.popup.actions"
            targetID="org.eclipse.wst.jsdt.ui.CompilationUnitEditor.RulerContext">
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               helpContextId="editor_toggle_breakpoint_action_context"
               icon="$nl$/icons/elcl16/brkp_obj.gif"
               id="org.eclipse.wst.jsdt.debug.ui.toggle.breakpoint.ruler.delegate"
               label="%togglebreakpointRulerAction.name"
               menubarPath="debug">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.jsdt.debug.ui.general.breakpoint.actions"
            objectClass="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptBreakpoint">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.BreakpointPropertiesAction"
               definitionId="org.eclipse.wst.jsdt.debug.ui.breakpoint.properties"
               enablesFor="1"
               helpContextId="breakpoint_properties_popup_menu_context"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.properties.action"
               label="%breakpointPropertiesAction.name"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.BreakpointHitCountAction"
               enablesFor="1"
               helpContextId="hit_count_action_context"
               icon="$nl$/icons/elcl16/sethitcount_co.gif"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.hitcount.action"
               label="%hitCount.label"
               menubarPath="emptyBreakpointGroup">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.BreakpointSuspendPolicyToggleAction"
               enablesFor="1"
               helpContextId="breakpoint_suspend_policy_toggle_action_context"
               icon="$nl$/icons/elcl16/suspend_co.gif"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.suspend.policy.action"
               label="%suspendPolicy.label"
               menubarPath="emptyBreakpointGroup"
               tooltip="%suspendpolicy.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.jsdt.debug.ui.function.toggle.breakpoint"
            objectClass="org.eclipse.wst.jsdt.core.IFunction">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.ToggleFunctionBreakpointActionDelegate"
               enablesFor="+"
               helpContextId="toggle_function_bp_outline"
               icon="icons/elcl16/brkp_obj.gif"
               id="org.eclipse.wst.jsdt.debug.ui.outline.function.toggle.breakpoint.action"
               label="%toggleFunctionBreakpointAction.name"
               menubarPath="additions"
               tooltip="%toggleFunctionBreakpointAction.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.jsdt.debug.ui.function.breakpoint.actions"
            objectClass="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptFunctionBreakpoint">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.ExitToggleAction"
               enablesFor="+"
               helpContextId="exit_toggle_action_context"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.toggle.exit.action"
               label="%exitAction.label"
               menubarPath="emptyBreakpointGroup"
               state="false">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.EntryToggleAction"
               enablesFor="+"
               helpContextId="entry_toggle_action_context"
               id="org.eclipse.wst.jsdt.debug.ui.breakpoint.toggle.entry.action"
               label="%entryAction.label"
               menubarPath="emptyBreakpointGroup"
               state="false">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.wst.jsdt.debug.internal.ui.JavaScriptModelPresentation"
            id="org.eclipse.wst.jsdt.debug.model">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.JavaScriptBreakpointPropertyPage"
            id="org.eclipse.wst.jsdt.debug.ui.breakpoints.propertypage"
            name="%breakpointproperties.page.name">
         <enabledWhen>
            <or>
               <adapt
                     type="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptLineBreakpoint">
               </adapt>
               <instanceof
                     value="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptLineBreakpoint">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.wst.jsdt.debug.ui.breakpoint.properties"
            contextId="org.eclipse.debug.ui.BreakpointView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ENTER">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%breakpointproperties.command.description"
            id="org.eclipse.wst.jsdt.debug.ui.breakpoint.properties"
            name="%breakpointproperties.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="breakpointsViewActions"
            targetID="org.eclipse.debug.ui.BreakpointView">
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.AddScriptLoadBreakpointAction"
               disabledIcon="$nl$/icons/elcl16/script.gif"
               helpContextId="add_script_load_breakpoint_action"
               hoverIcon="$nl$/icons/elcl16/script.gif"
               icon="$nl$/icons/elcl16/script.gif"
               id="org.eclipse.wst.jsdt.debug.ui.add.scriptload.breakpoint"
               label="%addScriptloadBreakpointAction.name"
               style="push"
               toolbarPath="javascriptActions"
               tooltip="%addScriptloadBreakpointAction.name">
         </action>
         <action
               class="org.eclipse.wst.jsdt.debug.internal.ui.actions.SuspendOnAllScriptLoadsAction"
               helpContextId="suspend_for_all_loads_action_context"
               icon="$nl$/icons/elcl16/script.gif"
               id="org.eclipse.jdt.debug.ui.breakpointViewActions.ShowQualified"
               label="Suspend For All Script Loads"
               menubarPath="javascriptActions"
               style="toggle"
               tooltip="Suspends when any script is loaded">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.detailPaneFactories">
      <detailFactories
            class="org.eclipse.wst.jsdt.debug.internal.ui.breakpoints.details.BreakpointDetailPaneFactory"
            id="org.eclipse.wst.jsdt.debug.ui.breakpoints.details.factory">
         <enablement>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptLineBreakpoint">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptLoadBreakpoint">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.wst.jsdt.debug.core.breakpoints.IJavaScriptFunctionBreakpoint">
                     </instanceof>
                  </or></iterate>
               <count
                     value="1">
               </count>
            </with>
         </enablement>
      </detailFactories>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.wst.jsdt.debug.internal.ui.launching.JavaScriptLaunchShortcut"
            description="Allows fast connection and debugging of JavaScript"
            helpContextId="javasript_lanch_shortcut"
            icon="$nl$/icons/elcl16/script.gif"
            id="org.eclipse.wst.jsdt.debug.ui.launch.shortcut"
            label="Debug JavaScript..."
            modes="debug">
         <configurationType
               id="org.eclipse.wst.jsdt.debug.core.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <adapt
                              type="org.eclipse.wst.jsdt.core.IJavaScriptElement">
                        </adapt>
                     </and></iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="%breakpointMarkerCategory.name">
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.function.breakpoint.marker">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.line.breakpoint.marker">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.breakpoint.marker">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.exception.breakpoint.marker">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.wst.jsdt.debug.core.scriptload.breakpoint.marker">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>

</plugin>
