<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2010, 2013 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension-point id="launchingConnectors" name="%connectorsExtPoint.name" schema="schema/launchingConnectors.exsd"/>
   <extension-point id="breakpointParticipants" name="%breakpointParticipantsExt.name" schema="schema/breakpointParticipants.exsd"/>
   <extension-point id="scriptResolvers" name="%scriptResolversExt.name" schema="schema/scriptResolvers.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.eclipse.wst.jsdt.debug.core.launchConfigurationType"
            modes="run,debug"
            name="%launchConfigurationType.name"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         id="org.eclipse.wst.jsdt.debug.core.line.breakpoint.marker"
         name="%linebreakpoint.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.wst.jsdt.debug.core.breakpoint.marker">
      </super>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.wst.jsdt.debug.core.function.breakpoint.marker"
         name="%methodbreakpoint.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.wst.jsdt.debug.core.breakpoint.marker">
      </super>
      <super
            type="org.eclipse.jdt.debug.javaMethodBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.wst.jsdt.debug.core.scriptload.breakpoint.marker"
         name="%scriptloadbreakpoint.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.wst.jsdt.debug.core.breakpoint.marker">
      </super>
      <super
            type="org.eclipse.jdt.debug.javaClassPrepareBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.wst.jsdt.debug.core.breakpoint.marker"
         name="%breakpoint.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
   </extension>
   <extension
         id="org.eclipse.wst.jsdt.debug.core.exception.breakpoint.marker"
         name="%exceptionbreakpoint.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.wst.jsdt.debug.core.breakpoint.marker">
      </super>
      <super
            type="org.eclipse.jdt.debug.javaExceptionBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.eclipse.wst.jsdt.debug.internal.core.breakpoints.JavaScriptLineBreakpoint"
            id="org.eclipse.wst.jsdt.debug.core.linebreakpoint"
            markerType="org.eclipse.wst.jsdt.debug.core.line.breakpoint.marker"
            name="%linebreakpoint.name">
      </breakpoint>
      <breakpoint
            class="org.eclipse.wst.jsdt.debug.internal.core.breakpoints.JavaScriptFunctionBreakpoint"
            id="org.eclipse.wst.jsdt.debug.core.functionbreakpoint"
            markerType="org.eclipse.wst.jsdt.debug.core.function.breakpoint.marker"
            name="%methodbreakpoint.name">
      </breakpoint>
      <breakpoint
            class="org.eclipse.wst.jsdt.debug.internal.core.breakpoints.JavaScriptLoadBreakpoint"
            id="org.eclipse.wst.jsdt.debug.core.scriptloadbreakpoint"
            markerType="org.eclipse.wst.jsdt.debug.core.scriptload.breakpoint.marker"
            name="%scriptloadbreakpoint.name">
      </breakpoint>
      <breakpoint
            class="org.eclipse.wst.jsdt.debug.internal.core.breakpoints.JavaScriptExceptionBreakpoint"
            id="org.eclipse.wst.jsdt.debug.core.exceptionbreakpoint"
            markerType="org.eclipse.wst.jsdt.debug.core.exception.breakpoint.marker"
            name="%exceptionbreakpoint.name">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.wst.jsdt.debug.internal.core.launching.RemoteJavaScriptLaunchDelegate"
            delegateDescription="Remote JavaScript"
            id="org.eclipse.wst.jsdt.debug.core.remoteLaunchDelegate"
            modes="debug"
            name="%remoteJsLaunchDelegate.name"
            sourceLocatorId="org.eclipse.wst.jsdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.wst.jsdt.debug.core.source.path.computer"
            type="org.eclipse.wst.jsdt.debug.core.launchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.wst.jsdt.debug.internal.core.launching.JavaScriptSourceDirector"
            id="org.eclipse.wst.jsdt.debug.core.sourceLocator"
            name="%sourceLocator.name">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="org.eclipse.wst.jsdt.debug.model"
            delegateClass="org.eclipse.wst.jsdt.debug.internal.core.JavaScriptWatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.jsdt.debug.internal.core.JavaScriptDebugPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.debug.core.breakpointParticipants">
      <participant
            class="org.eclipse.wst.jsdt.debug.internal.core.breakpoints.DefaultJavaScriptBreakpointParticipant"
            kind="*">
      </participant>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.eclipse.wst.jsdt.debug.internal.core.launching.JavaScriptSourcePathComputerDelegate"
            id="org.eclipse.wst.jsdt.debug.core.source.path.computer">
      </sourcePathComputer>
   </extension>

</plugin>
